@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Volkhov:wght@700&display=swap');

.service{
    margin: 9% 0 0;
}

.subheading{
    font-family: 'Poppins', sans-serif;
    color: #5E6282;
    text-align: center;
}

.heading{
    font-family: 'Volkhov', serif;
    color: #14183E;
    text-align: center;
}

.cardSection{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 4% 7%;
}