.Decor{
    position: relative;
}

.decorRight{
    position: absolute;
    z-index: -10;
    right: -40px;
    top: -65px;
}

.travelImg{
    width: 765px;
    height: 764px;
    position: absolute;
    z-index: -5;
    top: 105px;
    right: 93px;
    /* visibility: ; */
    /* opacity: 0.5; */
}

@media screen and (max-width: 900px) {
    .travelImg{
        visibility: hidden;
        /* display: none; */
        /* opacity: 0.5; */
    }
}

.decorLeft{
    position: absolute;
    z-index: -10;
    width: 478.94px;
    height: 496.86px;
}