@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menuitem{
    display: flex;
    flex-direction: row;
}

.menuitem > p{
    margin: 7px 23px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
}
/* @media screen and (max-width: 600px) {
    .menuitem > p{
        display: none;
    }
} */

.signup > button{
    width: 102px;
    height: 40px;
    margin: 0 23px;
    border-radius: 4px;
    background: none;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.menudrop > p{
    width: 35px;
    margin: 7px 23px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;

}