@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.card{
    margin: 2% 1%;
    position: relative;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));

}

.card > div > img{
    width: 314px;
    height: 457px;
    border-radius: 24px;
}

.data{
    font-family: 'Poppins', sans-serif;
    color: #5E6282;
    background-color: #fff;
    border-radius: 0 0 24px 24px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.data > div > h5{
    margin: 20px;
}
.navIcon{
    margin: 9px 7px 0 0;
}
.data > div:first-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.data > div:last-child{
    text-align: left;
}